.thumb img {
  width: 175px;
  height: 175px;
}

h1 {
	text-align: center;
	color: black;
}

.sign {
	left: 300px;
	height: 350px;
	width: 200px;
	border-top-width: 200px;
	border-bottom-width: 500px;
	border-left-width: 250px;
	border-right-width: 250px;
	border: black solid 2px;
}

body {
	
}

a {
	width: 225px;
	color: black;
}

ul {
	font-size: 2em;
	margin-top: 30px;
}