.rainy img {
  width: 150px;
  height: 150px;
  background-image: url("../img/rainy.png") no-repeat;
}

.clear img {
  width: 150px;
  height: 150px;
  background: url("../img/clear.png") no-repeat;
  z-index: 1;
}

.fog img {
  width: 150px;
  height: 150px;
  background-image: url("../img/fog.png") no-repeat;
}

.windy img {
  width: 150px;
  height: 150px;
  background-image: url("../img/windy.png") no-repeat;
}

.snow img {
  width: 150px;
  height: 150px;
  background-image: url("../img/snow.png") no-repeat;
}

body {
	background-image: url("../img/forest-path.jpg");
	background-image: no-repeat;
}

h1 {
	text-align: center;
}

.sign {
	left: 250px;
	height: 350px;
	width: 200px;
	border-top-width: 200px;
	border-bottom-width: 500px;
	border-left-width: 250px;
	border-right-width: 250px;
	border: black solid 2px;
	background: rgba(255, 255, 255, .2)
}

a {
	width: 225px;
}

ul {
	font-size: 3em;
	margin-top: 50px;
}